* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: sans-serif;
    background: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
    color: #e0e0e0; /* Light text for the heading */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
    width: 40%;
    height: 500px;
    background: #2c2c2c; /* Dark container background */
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
}

#result {
    border: 1px solid #444; /* Dark border */
    padding: 40px 50px;
    height: 300px;
    width: 90%;
    margin-bottom: 30px;
    background: #333; /* Darker background for the result area */
    border-radius: 3px;
    color: #e0e0e0; /* Light text color */
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    font-size: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #6200ea; /* Dark purple */
    color: #fff;
    outline: none;
    border: none;
    animation: pulse 1.5s infinite alternate;
    cursor: pointer;
}

button:hover {
    background-color: #03dac6; /* Teal color when hovering */
}

button:disabled {
    background-color: #555; /* Gray background when disabled */
}

button i {
    margin-right: 5px;
}

button:focus {
    outline: none;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
